<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>InsultFightingMobile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>InsultFightingTV.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F511065B1C5293A3000CD0E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F51106A31C53D959000CD0E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F51106B81C53D959000CD0E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F584C8F71C4AB62D00622D2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
